<div class="login-container">
    
  <mat-card class="login-card">
    <mat-card-title>
        Welcome to Assistant MNH-1.0
    </mat-card-title>
    <mat-card-header>
          <img src="./../../assets/logo.png" alt="Assistant Logo" class="logo">
      </mat-card-header>
      <mat-card-content>
          <button mat-raised-button color="primary" (click)="signInWithGoogle()">Login with Google</button>
      </mat-card-content>
      <mat-card-footer>
          <p>By logging in, you agree to our <a href="#" routerLink="/policy">Terms and Conditions</a>.</p>
      </mat-card-footer>
  </mat-card>
</div>
