<!-- terms-and-conditions.component.html -->
<div class="terms-container">
    <button mat-icon-button routerLink="/login">
        <mat-icon color="primary" class="backFlesh">arrow_back</mat-icon> 
        <span>Back </span>
    </button>
    
    <h1>Terms and Conditions</h1>
    <p>
        By using our app, you agree to the following terms and conditions:
    </p>
    <ol>
        <li>Our app will access your Google account information, including your email and calendar.</li>
        <li>We will only use this information to provide the services offered by our app, such as scheduling appointments and sending reminders.</li>
        <li>Your personal information will be securely stored and not shared with third parties without your consent.</li>
        <li>You can revoke access to your account information at any time by logging out of our app and revoking access in your Google account settings.</li>
        <li>We reserve the right to update these terms and conditions at any time. You will be notified of any changes.</li>
    </ol>
    <p>
        If you do not agree to these terms and conditions, please do not use our app.
    </p>
</div>
